@font-face{
  font-family: 'ProductSans-Regular';
  src:url('../public/assets/font/ProductSans/ProductSans-Regular.ttf'); 
}
@font-face{
  font-family: 'ProductSans-Bold';
  src:url('../public/assets/font/ProductSans/ProductSans-Light.ttf')
}
@font-face{
  font-family: 'ProductSans-Light';
  src:url('../public/assets/font/ProductSans/ProductSans-Light.ttf')
}